*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid gray;
    margin: 10px 0;
    margin-left: 15px;
}
button{
    margin: 5px 0;
    padding: 4px 10px;
    cursor: pointer;
    background: crimson;
    color: #fff;
    border: none;
    font-family: serif;
    text-transform: uppercase;
}
button:focus{
    transform: scale(0.9);
}
.box{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: crimson;
}
